/* General settings */
@charset "UTF-8";

/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Resetting margins and paddings */
* {
    margin: 0px;
    padding: 0px;
}

/* Body settings */
body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header settings */
header {
    background-color: black;
    color: white;
    text-align: center;
}

/* Header title settings */
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
    font-size: 10vw;
}

/* Header paragraph settings */
header > p {
    padding-bottom: 50px;
}

/* Link settings */
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

/* Link hover effect */
a:hover {
    text-decoration: underline;
}

/* Section settings */
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 2em;
}

/* Section with image background */
section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.616);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}

/* First image section */
section#img01 {
    background-image: url('../imagens/background001.jpg');
}

/* Second image section */
section#img02 {
    background-image: url('../imagens/background002.jpg');
}

/* Paragraph inside image section */
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.397);
    text-shadow: 1px 1px 0px black;
}

/* Footer settings */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
